html,
body {
  background-color: #fff;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

#page {
  margin: 0 auto;
  max-width: 900px;
}

#header h1 {
  font-size: 3rem;
}

h2 {
  border-bottom: 1px solid #BDB8AD;
  font-size: 2rem;
  padding: 1rem
}

#memory {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;

    li {
      background-color: #ebe7e0;
      border: 1px solid #bdb8ad;
      padding: 2rem 4rem
    }
  }
}

#processes {
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th, td {
      padding: 1rem;
    }

    th {
      background-color: #44749d;
      color: #fff;
    }

    tr {
      background-color: #fff;
    }

    tr:nth-child(odd) {
      background-color: #c6d4e1;
    }
  }
}